alpine-baselayout
alpine-keys
apk-tools
bash
busybox
bc
ca-certificates
ca-certificates-bundle
coreutils
curl
findutils
fuse
fuse3
fuse3-libs
fuse-common
git
grep
jq
libacl
libattr
libgcc
libstdc++
libxml2-dev
libxml2-utils
libc-utils
libintl
libproc
libretls
linux-headers
linux-pam
logrotate
icu-libs
musl
musl-dev
musl-utils
ncurses-libs
ncurses-terminfo-base
openssl
procps
pigz
readline
s6-ipcserver
scanelf
shadow
skalibs
ssl_client
tar
tzdata
wget
xz
xz-libs
zlib
