curl
bash
xz
openssl
icu-libs
ca-certificates
libxml2-dev
shadow
bc
tar
findutils
coreutils
logrotate
git
libxml2-utils
tzdata
openntpd
grep
nginx
nginx-mod-http-brotli
tzdata
musl
wget
rclone
jq
s6-ipcserver
php8
php8-dev
php8-bcmath
php8-intl
php8-fpm
php8-json
php8-openssl
php8-opcache
php8-curl
php8-zlib
php8-xml
php8-dom
php8-xmlreader
php8-ctype
php8-mbstring
php8-gd
php8-mbstring
php8-opcache
php8-session
